*{
    margin: 0px;
    padding: 0;
    font-family: georgia;
}

nav a {
    color: white;
    margin-left: 3vw;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 3px 3px rgb(68, 92, 102);
}

nav {
    border: 5px outset rgb(63, 88, 99);
    background-image: linear-gradient(to right, rgb(184, 195, 199) , rgb(81, 110, 122)); 
}

body {
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIVBT0xgkHcSzdp4k1QgCYLpcIFtAAXdrICUrmK-yQnc_B2txq9A);
}

footer {
    background-image: linear-gradient(to right, rgb(184, 195, 199) , rgb(81, 110, 122));
    border: 5px outset rgb(63, 88, 99);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0%;
    padding: 0px;
}

#z {
    margin: 10px;
    padding: 10px;
    font-size: 40px;
}

#e {
    font-size: 17.5px;
    text-align: left;
    margin-left: 70px;
    text-shadow: 2.1px 2.1px rgb(68, 92, 102);
    color: white;
}

#a {
    font-size: 25px;
    text-align: left;
    margin-left: 70px;

}

p {
    color: rgb(81, 110, 122);
    margin: 10px;
    padding: 10px;
}

@media screen and (max-width: 414px) {
    nav a {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    nav a {
        display: block;
    }
}